<form class="" action="/pizzas" method="POST">
  <br>
  <label for="firstName">First Name:</label>
  <input type="text" name="first_name" id="firstName" />
  <br>
  <label for="lastName">Last Name:</label>
  <input type="text" name="last_name" id="lastName" />
  <br>
  <label for="pizza_select">Select a pizza:</label>
  <select name="topping" id="pizza_select">
    <option value="Scrummy">Scrummy</option>
    <option value="Strawberry">Strawberry</option>
  </select>
  <br>
  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" id="quantity" />
  <br>
  <input type="submit" value="Submit" class="button">

</form>
